/*

    page layout and wrapping

*/

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Economica', sans-serif;
    background-color: black;
    font-size: 2em;
}

.content {
    text-align: center;
    display: inline-block;
}
.textblk{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 5%;
}

.title{
    font-family: 'Raleway', sans-serif;
    color:black;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    margin-top: none;
    width: 25%;
}

form {

    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 3.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
.page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

img#logo{
    background-color: transparent;
    width: 100%;
    box-shadow: none;
}

.bkgrnopac{
    background: rgba(159, 161, 163, 0.8);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 900px;
    position: relative;
    height: 100%;
    width: 80%;
}


.sketch{
    width: auto;  
    background-color: white;
}

.thumbnail{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 75%;
    background-color:black;
    padding-bottom:2%;
    margin-bottom:5%; 
}
.thumbnail .caption{
    color: white;
}
.spacer{
    height: 30px;
    width: 100%; 
}

input {
    background-color: black;
    border: none;
    min-width: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: auto; 
    margin-left: auto;
    padding: 5%;
    display: block;
    min-height: 80px; 
    min-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: yellow;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

/*input placeholder font color*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ff72de;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ff72de;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ff72de;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ff72de;
}

/* mouse over link */
input:hover {
    font-weight: bold;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

/* selected link */
input:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19); 
    outline: none;
    border-bottom: solid black 5px;
    background-color: #42f4c5;
    color: #ff72de;
    margin: 5%;
    padding: 5%;
}

[type="submit"]:focus {
    border: solid black 5px;
    color: yellow;
}

/*hide the placeholder*/
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

i{
    color: black;
}
.hide{
    display: none;
}